---
import { Image } from 'astro:assets';
import test from '../assets/test.jpg';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Image
      src={test}
      width={test.width}
      height={test.height}
      format="webp"
      alt="just a test image"
    />
  </body>
</html>

<style>
  img {
    display: block;
    max-width: 100%;
  }
</style>
